<h1>GDPR Software by GL3</h1>
<%= link_to "Eventi", events_path, :class => "btn btn-primary" %>
<br><br>
<%= link_to "Tipologie Evento", event_typologies_path, :class => "btn btn-primary" %>
<br><br>
<!--<button onclick="sweetAlertTest()" class="btn btn-danger">Test SweetAlert2</button>-->

<button class="toggler btn btn-sm btn-outline-primary">Toggle Notifications</button>

<div class="notif-block">
  <h3>Notifiche</h3>
  <div class="notif-section container-fluid overflow-auto">
    <ul>
      <% Event.get_all_notifications(session[:hidden_notifications]).each do |event| %>
        <div class="notif">
          <li>
            <div class="notif-head">
              <%= event.e_name %>
              <% priority = event.event_typology.et_priority %>
            </div>
            <div class="content">
              <%= event.e_description %>
            </div>
            <div class="control-buttons">
              <% case priority %>
              <% when 1 %>
                <button onclick="close_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-warning" method="POST">×</button>
              <% when 2 %>
                <button onclick="close_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-warning" method="POST">×</button>
                <button onclick="hide_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-info" method="POST">Nascondi</button>
              <% when 3 %>
                <button onclick="hide_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-info" method="POST">Nascondi</button>
              <% end %>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<% event = Event.get_all_notifications(session[:hidden_notifications], high_priority: true).first %>
<% if event %>
  <script>
      <%case event.event_typology.et_priority%>
      <%when 4 %>
      midHighNotif()
      <%when 5 %>
      highNotif()
      <% end %>
  </script>
<% end %>
<div id="calendar"></div>