<h1>Calendario</h1>
<!--<button onclick="sweetAlertTest()" class="btn btn-danger">Test SweetAlert2</button>-->
<div class="row">
  <div class="col-3">
    <div class="notif-block">
      <h3>Notifiche</h3>
      <div class="notif-section container-fluid overflow-auto">

        <% session_hidden_notif = session[:hidden_notifications] || [] %>
        <% notifications = Event.get_all_notifications(session_hidden_notif, current_user.id) %>
        <% if notifications.size > 0 %>
          <% p current_user.id %>

          <ul>
            <% notifications.each do |event| %>
              <% event_color = event.event_typology.et_color %>
              <div class="notif" style="border: 3px solid <%=event_color %>;">
                <li>
                  <div class="notif-head" style="color: <%= event_color %>">
                    <%= event.e_name %>
                    <% priority = event.event_typology.et_priority %>
                  </div>
                  <div class="content">
                    <%= event.e_description %>
                  </div>
                  <div class="control-buttons">
                    <% case priority %>
                    <% when 1 %>
                      <button onclick="close_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-warning">
                        <span aria-hidden="true">&times;</span></button>
                    <% when 2 %>
                      <button onclick="close_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-warning">
                        <span aria-hidden="true">&times;</span></button>
                      <button onclick="hide_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-info">Nascondi</button>
                    <% when 3 %>
                      <button onclick="hide_notification(this, <%=event.id %>)" class="btn btn-sm btn-outline-info">Nascondi</button>
                    <% end %>
                  </div>
                </li>
              </div>
            <% end %>
          </ul>
        <% else %>
          <p>Nessuna nuova notifica</p>
        <% end %>
      </div>
    </div>

    <% first_important_event = Event.get_all_notifications(session_hidden_notif, current_user.id, high_priority: true).first %>
    <script>
        <%notes = first_important_event&.e_notes%>
        <%unless notes && notes.length > 0%>
        <% notes = "Nessuna nota"%>
        <%end %>

        <%if first_important_event %>
          <%case first_important_event.event_typology.et_priority%>
          <%when 4 %>
          midHighNotif("<%=first_important_event.e_name %>", "<%=first_important_event.e_description%>", "<%= notes %>", "<%=first_important_event.event_typology.et_color %>", "<%=first_important_event.id %>");
          <%when 5 %>
          highNotif("<%=first_important_event.e_name %>", "<%=first_important_event.e_description%>", "<%= notes %>", "<%=first_important_event.event_typology.et_color %>", "<%=first_important_event.id %>");
          <% end %>
        <%end %>
    </script>
  </div>
  <div class="col-9">
    <div id="calendar"></div>
  </div>
</div>

