<div class="container" style="margin-top: 15px">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-5">

      <% if event.persisted? %>
        <h1>Modifica Evento</h1>
      <% else %>
        <h1>Nuovo Evento</h1>
      <% end %>

      <%= form_with(model: event, local: true) do |form| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
              <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :event_typology_id, 'Tipologia' %>
          <%= form.collection_select :event_typology_id, EventTypology.all, :id, :et_name, :class => "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :e_name, 'Nome' %>
          <%= form.text_field :e_name, :class => "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :e_description, 'Descrizione' %>
          <%= form.text_field :e_description, :class => "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :e_date_from, 'Data inizio' %>
          <%= form.datetime_select :e_date_from, :class => "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :e_date_to, 'Data fine' %>
          <%= form.datetime_select :e_date_to, :class => "form-control" %>
        </div>


        <div class="mb-3">
          <%= form.label :e_participants, 'Partecipanti' %>
          <%= form.collection_select :e_participants, User.all, :id, :email, {}, {:multiple => "multiple", :class => "form-control"} %>
        </div>

        <%= form.hidden_field :e_class, :value => "Task" %>

        <div class="mb-3">
          <%= form.label :e_notes, 'Note' %>
          <%= form.text_field :e_notes, :class => "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :e_actual_start, 'Inizio effettivo' %>
          <%= form.datetime_select :e_actual_start, :class => "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :e_actual_end, 'Fine effettiva' %>
          <%= form.datetime_select :e_actual_end, :class => "form-control" %>
        </div>

        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          Salva
        <% end %>


        <%= link_to 'Indietro', events_path, :class => "btn btn-light" %>

      <% end %>

    </div>
    <div class="col-3"></div>
  </div>

</div>
