<p id="notice"><%= notice %></p>

<h1>Eventi</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipologia</th>
      <th>Inizio</th>
      <th>Fine</th>
      <th>Classe</th>
      <th>Partecipanti</th>
      <th>Inizio Effettivo</th>
      <th>Fine Effettiva</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.e_name %></td>
        <td><%= event.event_typology.et_name %></td>
        <td><%= event.e_date_from %></td>
        <td><%= event.e_date_to %></td>
        <td><%= event.e_class %></td>
        <td><%= event.e_participants %></td>
        <td><%= event.e_actual_start %></td>
        <td><%= event.e_actual_end %></td>
        <td><%= link_to 'Dettagli', event, :class => "btn btn-secondary" %></td>
        <td><%= link_to 'Modifica', edit_event_path(event), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Elimina', event, method: :delete, data: { confirm: 'Sei sicuro di voler cancellare l\'evento?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Evento', new_event_path, :class => "btn btn-primary" %>
<%= link_to 'Indietro', '/', :class => "btn btn-light" %>
