<p id="notice"><%= notice %></p>

<p>
  <strong>Tipologia:</strong>
  <%= @event.event_typology.et_name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @event.e_name %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @event.e_description %>
</p>

<p>
  <strong>Inizio:</strong>
  <%= @event.e_date_from %>
</p>

<p>
  <strong>Fine:</strong>
  <%= @event.e_date_to %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @event.e_class %>
</p>

<p>
  <strong>Stato:</strong>
  <%= @event.e_state %>
</p>

<p>
  <strong>Partecipanti:</strong>
  <%= @event.e_participants %>
</p>

<p>
  <strong>Note:</strong>
  <%= @event.e_notes %>
</p>

<p>
  <strong>Inizio Effettivo:</strong>
  <%= @event.e_actual_start %>
</p>

<p>
  <strong>Fine Effettiva:</strong>
  <%= @event.e_actual_end %>
</p>

<%= link_to 'Modifica', edit_event_path(@event) %> |
<%= link_to 'Indietro', events_path %>
