<p id="notice"><%= notice %></p>

<p>
  <strong>Tipologia:</strong>
  <%= @event.event_typology.et_name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @event.e_name %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @event.e_description %>
</p>

<p>
  <strong>Inizio:</strong>
  <%= @event.e_date_from.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Fine:</strong>
  <%= @event.e_date_to.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @event.e_class %>
</p>

<p>
  <strong>Stato:</strong>
  <%= @event.e_state %>
</p>

<p>
  <strong>Partecipanti:</strong>
  <%= @event.e_participants %>
</p>

<p>
  <strong>Note:</strong>
  <%= @event.e_notes %>
</p>

<p>
  <strong>Inizio Effettivo:</strong>
  <%= @event.e_actual_start&.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Fine Effettiva:</strong>
  <%= @event.e_actual_end&.strftime("%d/%m/%Y %H:%M") %>
</p>

<%= link_to 'Modifica', edit_event_path(@event), :class => "btn btn-primary" %>
<%= link_to 'Indietro', events_path, :class => "btn btn-light" %>
