<div class="container" style="margin-top: 15px">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-5">

    <% if event_typology.persisted? %>
      <h1>Modifica Tipologia</h1>
    <% else %>
      <h1>Nuova Tipologia</h1>
    <% end %>

    <%= form_with(model: event_typology, local: true) do |form| %>
      <% if event_typology.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event_typology.errors.count, "error") %> prohibited this event_typology from being saved:</h2>

          <ul>
          <% event_typology.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :et_name, "Nome Tipologia" %>
        <%= form.text_field :et_name %>
      </div>

      <div class="field">
        <%= form.label :et_priority, "Priorità" %>
        <%= form.number_field :et_priority %>
      </div>

      <div class="field">
        <%= form.label :et_early_notification, "Notifica Anticipata"%>
        <%= form.number_field :et_early_notification %>
      </div>

      <div class="field">
        <%= form.label :et_event_repeat, "Ripetizione" %>
        <%= form.text_field :et_event_repeat %>
      </div>

      <div class="field">
        <%= form.label :et_color, "Colore" %>
        <%= form.text_field :et_color %>
      </div>

      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        Salva
      <% end %>


      <%= link_to 'Indietro', event_typologies_path, :class => "btn btn-light" %>

    <% end %>

    </div>
    <div class="col-3"></div>
  </div>
</div>
