<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Tipologia:</strong>
  <%= @event_typology.et_name %>
</p>

<p>
  <strong>Priorità Tipologia:</strong>
  <%= @event_typology.et_priority %> (min: 1, max: 5)
</p>

<p>
  <strong>Notifica Anticipata:</strong>
  <% if @event_typology.et_early_notification == 0 %>
	<%= "Nessuna notifica anticipata" %>
  <% elsif @event_typology.et_early_notification == 1 %>
    <%= "1 ora" %>
  <% else %>
    <%= @event_typology.et_early_notification %> ore
  <% end %>
</p>

<p>
  <strong>Ripetizione:</strong>
  <%= @event_typology.et_event_repeat %>
</p>

<p>
  <strong>Colore:</strong>
<p class="color-box" style="
background-color: <%=@event_typology.et_color %>;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 0px;
"></p>
</p>

<%= link_to 'Modifica', edit_event_typology_path(@event_typology), :class => "btn btn-primary" %>
<%= link_to 'Indietro', event_typologies_path, :class => "btn btn-light" %>
