<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Tipologia:</strong>
  <%= @event_typology.et_name %>
</p>

<p>
  <strong>Priorità Tipologia:</strong>
  <%= @event_typology.et_priority %>
</p>

<p>
  <strong>Notifica Anticipata:</strong>
  <%= @event_typology.et_early_notification %>
</p>

<p>
  <strong>Ripetizione:</strong>
  <%= @event_typology.et_event_repeat %>
</p>

<p>
  <strong>Colore:</strong>
  <%= @event_typology.et_color %>
</p>

<%= link_to 'Modifica', edit_event_typology_path(@event_typology), :class => "btn btn-primary" %>
<%= link_to 'Indietro', event_typologies_path, :class => "btn btn-light" %>
