<p id="notice"><%= notice %></p>

<p>
  <strong>Et name:</strong>
  <%= @event_typology.et_name %>
</p>

<p>
  <strong>Et priority:</strong>
  <%= @event_typology.et_priority %>
</p>

<p>
  <strong>Et early notification:</strong>
  <%= @event_typology.et_early_notification %>
</p>

<p>
  <strong>Et event repeat:</strong>
  <%= @event_typology.et_event_repeat %>
</p>

<p>
  <strong>Et color:</strong>
  <%= @event_typology.et_color %>
</p>

<%= link_to 'Edit', edit_event_typology_path(@event_typology) %> |
<%= link_to 'Back', event_typologies_path %>
